/*


*/

@import url('styles/reset.css');
@import url('styles/horizontal.css');

body
{
   background-color: rgba(236, 236, 236, 1.0);
   margin: 0;
}

#wrapper
{
   background-color: rgba(255, 255, 255, 1.0);
   margin: auto;
   padding: 0;
   width: 1024px;
}

header
{
   width: 100%;
   padding: 10px;
}

h1#site-title
{
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 30px;
   float: left;
   padding-right: 25px;
}

nav
{
   float: right;
   margin-top: 10px;
   padding-right: 10px;
}

nav ul
{
   list-style: none;
}

nav li
{
   display: inline;
   padding-right: 10px;
}

nav li:last-child
{
   padding-right: none;
}

nav li a
{
   text-decoration: none;
}

#content
{
   width: 100%;
   padding: 10px;
}

.pacific
{
   margin: auto;
   width: 70%;
   height: 480px;
   float: left;
   padding-right: 10px;
   background-image: url('images/pacifictheater.png');
   background-repeat: no-repeat;
}

#legend
{
   float: left;
   width: 25%;
}

footer
{
   padding: 10px;
   margin: auto;
   text-align: center;
}