#timeline 
{
    width: 950px;
    height: 350px;
    overflow: hidden;
    margin: auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
    background-color: rgba(1, 1, 1, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

#dates 
{
    width: 800px;
    height: 60px;
    overflow: hidden;
}

#dates li 
{
    list-style: none;
    float: left;
    width: 300px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('../images/biggerdot.png') center bottom no-repeat;
}

#dates a 
{
    line-height: 38px;
    padding-bottom: 10px;
    color: rgba(255, 255, 0, 1.0);
    text-decoration: none;
}

#dates a:hover
{
    text-decoration: underline;
}

#dates .selected 
{
    font-size: 38px;
}

#issues 
{
    width: 800px;
    height: 280px;
    overflow: hidden;
}	

#issues li 
{
    width: 800px;
    height: 280px;
    list-style: none;
    float: left;
}

#issues li .left
{
    float: left;
    width: 410px;
    margin-left: 50px;
}

#issues li .map
{
    float: right;
    height: 250px;
    width: 300px;
    padding: 10px;
    margin-right: 20px;
}

#issues li .map img
{
    float: left;
    position: absolute;
    height: 250px;
    width: 300px;
}

#issues li h1.title
{
    color: #ffcc00;
    font-size: 30px;
    float: left;
}

#issues li p.descript
{
    font-size: 14px;
    margin-right: 70px;
    font-weight: normal;
    line-height: 22px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#issues li .legend
{
    width: 250px;
    clear: both;
    float: left;
    margin-top: 10px;
}

#issues li .legend h3
{
    font-size: 18px;
    font-family: sans-serif;
}

#issues li .legend p.key
{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-weight: normal;
}

#issues li .legend span.color
{
    height: 5px;
    width: 100px;
    float: right;
    margin-top: 5px;
}

#grad_left,
#grad_right 
{
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
}

#grad_left 
{
    left: 0;
    background: url('../images/grad_left.png') repeat-y;
}

#grad_right 
{
    right: 0;
    background: url('../images/grad_right.png') repeat-y;
}

#next,
#prev 
{
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

#next:hover,
#prev:hover 
{
    background-position: 0 -76px;
}

#next 
{
    right: 0;
    background-image: url('../images/next.png');
}

#prev 
{
    left: 0;
    background-image: url('../images/prev.png');
}

#next.disabled,
#prev.disabled 
{
    opacity: 0.2;
}